@media screen and (max-width: 559px){
  *{
    box-sizing: border-box;
  }
   

    nav ul li { list-style-type: none;
    font-size: 1em;
    }
    nav ul li a {

    text-decoration:none;
    color: #000;
    
}
   form label.app, form div {
  display: block;
  padding-top: 1rem;
  color: #9c2c13;
  font-size: .8rem;
  }
    nav button {
        display:block;
    }
    nav button {
    margin: .2rem 2%;
    background-color: transparent;
    boder: none;
    font-size: 1.6rem;
    color: #555;
    
}
    nav ul {
        display: block;
    }
    body {
  background:#F3EEE8;
  font-size: 100%;
   
  max-width: 100%;
      
}
nav{
    background-color: rgba(100,100,120,.1);
    padding: 0px;
    font-family: Verdana, sans-serif;
    max-width: 73%;
    
    }

.container1{
     display: grid;
	 grid-template-columns: 1fr;
     column-gap: 20px;
     grid-row-gap: 20px;
     padding: 0% 5% 0% 5%;
	 
   
 
     } 
.container1 img:hover {
        filter: drop-shadow(4px 4px 8px black);
    }

.container1 img {
	   width: 100%;
	   border-radius:30px 30px;
	   
	   }		 

nav ul li a:hover { background-color: rgba(0,0,0,0.4);}
nav ul.hide { display:none;}
nav ul li.active a{background-color: rgba(0,0,0,0.2); color: #fff;}

#imagen{
 position: relative;
 
 width: 100%;
 
}
#picture{
    position: relative;
    top:-40px;
     width: 100%;
    padding:-50px;
     
}
.town-article{
    position: relative;
    
	font-family: "Forum", cursive;
    font-size: 1.3em;
    width: 100%;
    
}

header img { 
    position:absolute;
    top:30px;
    left:-20px;
    width: 25%;
   

}
header h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 130%;
    color:rgba(45, 4, 7,.5);
    text-align: right;
    
    
    
       
}

.weather-summary{
    position: static;
    width: 100%; 
    
    
}

}