@import url('https://fonts.googleapis.com/css?family=Domine|Forum|Libre+Baskerville|Marck+Script');

* {
    box-sizing: border-box;
	
    margin:auto;
    padding: 10px;
    
  
} 
  
  
   
body {
  
  font-size: 100%;
   background:#F3EEE8;
  max-width: 100%;
      
}
 .box{
	text-align:center;
	font-size: 2em;
 }
 .bg
 {
	 display:flex; 
	 
	 
} 
 
 .fade {
	 text-align:center;
 }
 h1, h2, h3, h4 {
    font-family: "Libre Baskerville", serif;
    font-size: 3em;
    color:rgba(45, 4, 7,.5);
    text-align: center;
     
  
}
 footer {
  text-align : center;
 
 }







