section.forecast { display:none;

}  

@media only screen and (min-width: 560px) {

    
    nav ul.hide { display: block;}
    nav button { display:none; }
     
   
    section.forecast{
        display:block;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        
    }

}