
section.forecast { display:none;

}  

@media only screen and (min-width: 560px) {

   
    section.forecast{
        display:block;
    }

   
    nav button {
        clear:both;
        display:none;
        
    }
    nav ul{ display:flex;}
    
   
    nav ul li  {

    list-style-type: none;
    text-decoration: none;
    color: #000;
 
}
}
