@media screen and (max-width: 559px){

    

    nav ul.hide {
        display:block;
    }

    nav ul li { list-style-type: none;
    font-size: 1em;
    }
    nav ul li a {

    
    text-decoration:none;
    color: #000;
 
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
    
}

nav{
    background-color: #ccc;
    font-family: Verdana, sans-serif;
}





nav ul li a:hover { background-color: rgba(0,0,0,0.4);}
nav ul.hide { display:none;}
nav ul li.active a{background-color: rgba(0,0,0,0.2); color: #fff;}

#imagen{
 
 width: 100%;
 float:left;
}

.town-article{
    clear:both;
    font-family: "Forum", cursive;
    font-size: 1.3em;
    width: 100%;
    
}

header img { 
    position:absolute;
    top:30px;
    left:-20px;
    width: 25%;
    float:left;

}
header h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 130%;
    color:rgba(45, 4, 7,.5);
    text-align: right;
    
    
    
       
}

.weather-summary{
    position: static;
    width: 100%; 
    
    
}
}