section.forecast { display:none;

}  

@media only screen and (max-width: 1026px) {

    
    nav button {
        
        display:none;
        
    }
    nav ul {
        display:flex;
        list-style-type: none;
    }
   

    #picture{
    position: relative;
    top:-40px;
     width: 100%;
    padding:0px;
     
}
    section.forecast { display:none;}

    nav ul li  {

    list-style-type: none;
    text-decoration: none;
    color: #000;
 
}
 .container1{
     display: grid;
	 grid-template-columns: 1fr 1fr;
     column-gap: 20px;
     grid-row-gap: 20px;
     padding: 0% 5% 0% 5%;
     
 
     } 

    .container1 img {
	   width: 100%;
	   border-radius:40px 40px;
	   
	   }		 
    .container1 img:hover {
        filter: drop-shadow(4px 4px 8px black);
    }
}