@import url('https://fonts.googleapis.com/css?family=Domine|Forum|Libre+Baskerville|Marck+Script');

* {
    box-sizing: border-box;
	
    margin:auto;
    padding: 10px;
    
  
} 
  
  
   
body {
  
  font-size: 100%;
   background:#F3EEE8;
  max-width: 100%;
      
}
 .polaroid .container
 {
	 display: flex;
 } 
 
 h1, h2 {
    font-family: "Libre Baskerville", serif;
    font-size: 4em;
    color:rgba(45, 4, 7,.5);
    text-align: center;
     
  
}
 footer {
  text-align : center;
 
 }







