/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */

* {
    margin:auto;
    padding: 0px ;
    
}
    nav {
    background-color: black;
    
  }

 
 body { 
    max-width: 100%;
    padding: 35px;
    margin: auto;
    font-size: 16px; 
    line-height: 32px;
    font-family:  Ubuntu, sans-serif;
    color: black;
    
    
}

  .icon {
    height: 40px; 
  }

body { 
    max-width: 100%;
    
    margin-right: auto;
    font-size: 16px; 
    line-height: 32px;
    font-family:  Ubuntu, sans-serif;
    color: black;
    
    
}

h1 {
    font-size: /* x.xrem  (rem is a unit of measure) */;
    background: black;
    color: white;
    max-width: 100%;
    
}

h2 {
    font-size: /* x.xrem */;
    text-align:center;
    font-family: verdana, sans-serif;
    color:#601700;
    max-width: 100%;
    
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 100%;
     background: linear-gradient(to right, rgba(25,0,0,0), rgba(25,0,0,1));
}

header, footer, footer  {
    text-align: center;
    
    color: white;
}



header img {
    
    
    display:absolute;

    width: 200px;
    right: 0px;
    top: 100px;
    float:right;
    
    
}

main ul li a {
        text-decoration: none;
}

main ul li {
    list-style: none;
}

footer p a {
    font-size: /* smaller */;
   text-decoration: none;
}
 

footer {
     background: linear-gradient(to left, #F3D9DC, black);
}