/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */

* {
    margin:auto;
    padding: 0px;
    width: 90%;
    
    
}
    nav {
    background-color: black;
    
  }

 
 
  .icon {
    height: 40px; 
  }

body { 
    max-width: 100%;
    margin: auto;
    font-size: 16px; 
    line-height: 32px;
    font-family:  Ubuntu, sans-serif;
    color: black;
     
}


h1 {
   
    
    color: white;
    max-width: 100%;
    
}

h2 {
    
    text-align:center;
    font-family: verdana, sans-serif;
    color:#601700;
    max-width: 100%;
    
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 100%;
     background: linear-gradient(to right, rgba(25,0,0,0), rgba(25,0,0,1));
}

header, footer, footer  {
    text-align: center;
    
    color: white;
}



header img {
    
    
   
    position:absolute;
    width: 215px;
    right: 210px;
    top: 90px;
    float:right;
    
    
}

@media screen and (max-width:1105px){
    
    header img{
        position:relative;
        width:220px;
        top: 28px; 
        right:-8px;
    }
    
}

@media screen and (max-width:832px){
    
    header img{
        position:relative;
        width:200px;
        top: 28px; 
        right:-8px;
    }
    
}
@media screen and (max-width:520px){
    
    header img{
        position:relative;
        width:100px;
        top: 28px; 
        right:-8px;
    }
    
}
@media screen and (max-width:373px){
    
    header img{
        display:none;
    }
    h1{
        text-align: center;
    }
}


main ul li a {
        text-decoration: none;
}

main ul li {
    list-style: none;
}

footer p a {
   
   text-decoration: none;
}
 

footer {
     background: linear-gradient(to left, #F3D9DC, black);
}
